h1{
    font-family: 'Ubuntu', sans-serif;
    font-size: 3em;
    color: #FFFFFF;
    text-align: center;
    padding: 0 20px 0 20px;
}

h3{
    font-size: 1em;
    text-align: center;
}

html, body {
    height: 100%;
}

body{


    background: #4c5159;
    font-family: 'Dosis', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #757575;
    background-color: #03a9f4;
    max-width: 60%;
    margin: 0 auto;

}

#translated {
    border: 1px solid #757575;
    height: 6.5em;
    font-size: 2em;
    margin-bottom: 1em;
    background-color: white;
    overflow: auto;
    margin-left: 15px;
    margin-right: 15px;
    width: 70%;



}
.inputField {
    width: 70%;
}
textarea {
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    border: 1px solid #757575;
    font-family: 'Dosis', sans-serif;
    font-size: 2em;
    height: 6.5em;
    overflow: auto;
    padding: 2px;
    margin-bottom: 1em;
    resize: none;
    background-color: white;
    color: #212121;
    width: 100%;


}
